/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower-matrix img {
  width: 100%;
}

.eisenhower-matrix .more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .eisenhower-matrix {
    text-align: center;
  }

}

.main-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

.task-menu {
  margin: 0;
  padding: 0px;
}

.task-menu__item,
.h3-main-element {
  list-style: none;
}

.input-main-element,
.btn-main-element {
  outline: none;
}

.btn-main-element {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn-main-element:hover {
  color: #3a3a3a;
}

/* Heading */
.h3-main-element,
.label-main-element[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-main-element[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-main-element[type="text"]:focus {
  color: #333;
}

/* New Task */
.label-main-element[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

.input-main-element#new-task {
  width: 318px;
}

/* Task list */
.task-menu__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-menu__item>* {
  vertical-align: middle;
}

.task-menu__item>.input-main-element[type="checkbox"] {
  margin: 0 10px;
}

.task-menu__item>.label-main-element {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-menu__item>.input-main-element[type="text"] {
  width: 226px;
}

.btn-main-element.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-main-element.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .label-main-element {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-menu .task-menu__item .input-main-element[type=text] {
  display: none;
}

.task-menu .task-menu__item_edit-mode .input-main-element[type=text] {
  display: inline-block;
  width: 224px;
}

.task-menu .task-menu__item_edit-mode .label-main-element {
  display: none;
}